.navbar-custom {
    background-color:#ffce00;
    color: #000000;
    font-family: 'Helvetica Neue', sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 550; line-height: 26.4px;}

